<div class="job-container col-12 mx-auto l-100 bg-secondary">
    

    <% #description %>
    <div class="job-details">

        <% #job banner %>
        <div class="job-header col-12 mx-auto bg-warning">
            <div class="job-header-top m-0 pt-3 pb-1 px-5">
                <h1><%= @job.job_title %></h1>
            </div>
            <div class="job-header-bottom col-11 my-2 mx-auto">
                <img class="m-0" src="https://static.vecteezy.com/system/resources/previews/006/948/451/large_2x/digital-marketing-concept-with-people-putting-content-images-marketing-to-the-web-dashboard-screen-search-engine-optimization-promotion-working-process-and-teamwork-flat-style-illustration-vector.jpg">
                <img class="m-0" src="https://static.vecteezy.com/system/resources/previews/002/346/322/large_2x/online-programming-course-flat-concept-illustration-vector.jpg">
                <img class="m-0" src="https://www.shutterstock.com/shutterstock/photos/586367912/display_1500/stock-vector-computer-code-debugging-concept-flat-style-illustration-586367912.jpg">
            </div> 
        </div>

        <% #job details %>
        <div class="job-body">

            
            <div class="job-details">
                <% #description card %>
                <div class="job-description job-detail-card">
                    <div class="card-sub-title job-description-top">
                        <p><strong>Description:</strong></p>
                    </div>
                    <div class="card-body job-description-bottom">
                        <p><%= @job.description["Description"] %></p>
                    </div>
                </div>

                <% #skills card %>
                <div class="job-requirement job-detail-card">
                    <div class="card-sub-title job-requirement-top">
                        <p><strong>Requirements:</strong></p>
                    </div>
                    <div class="card-body job-requirement-bottom">
                        <% @job.requirements.each do |req| %>
                            <p><%= req %></p>
                        <% end %>
                    </div>
                </div>

                <% #specification card %>
                <div class="job-specification">

                    <% #Specification title %>
                    <div class="card-sub-title job-specification-top">
                        <p><strong>Specifications:</strong></p>
                    </div>

                    <% #Specification content %>
                    <div class="card-body job-specification-bottom">

                        <#Salary card>
                        <div class="card-sub-sub-title job-specification-sub-top">
                            <p><strong>Salary:</strong></p>
                        </div>
                        <div class="card-sub-sub-body job-specification-sub-bottom">
                            <p><%= @job.description[:Salary] %></p>
                        </div>
                            
                        <#Employment_type card>
                        <div class="card-sub-sub-title job-specification-sub-top">
                            <p><strong>Employment Type:</strong></p>
                        </div>
                        <div class="card-sub-sub-body job-specification-sub-bottom">
                            <p><%= @job.description[:Employment_Type] %></p>
                        </div>


                    </div>
                </div>

                <% #location card %>
                <div class="job-location job-detail-card">

                            



        <p><strong>Field:</strong> <%= @job.description[:Field] %></p>
        <p><strong>Position:</strong> <%= @job.description[:Postion] %></p>
        <p><strong>Seniority:</strong> <%= @job.description[:Seniority] %></p>
        
        <p><strong>Languages:</strong> <%= @job.description[:Languages] %></p>
        
        <p><strong>Posted on:</strong> <%= @job.created_at %></p>
    </div>
    
    <div class="job-location">
        <p><strong>Country:</strong> <%= @job.country.name %></p>
        <p><strong>Location:</strong> <%= @job.location %></p>
        <p><strong>Longitude:</strong> <%= @job.longitude %></p>
        <p><strong>Latitude:</strong> <%= @job.latitude %></p>
    </div>


    </div>
</div>
