<div class="job-container">
    <% # "Stringified hash" -> {hash} conversion %>
    <% job_string = @job.description %>
    <% job = eval(job_string) %>

    <% #"Stringified array" -> [array] conversion %>
    <% requirement_string = @job.requirements %>
    <% requirement = eval(requirement_string) %>
    
    <% #title %>
    <div class="job-title">
        <h1><%= @job.job_title %></h1>
    </div>

    <% #description %>
    <div class="job-details">
        <div class="job-header">
            <div class="job-header-top">
                <p><strong>Job Title:</strong> <%= @job.job_title %></p>
            </div>
            <div class="job-header-bottom">
                <img src="https://static.vecteezy.com/system/resources/previews/006/948/451/large_2x/digital-marketing-concept-with-people-putting-content-images-marketing-to-the-web-dashboard-screen-search-engine-optimization-promotion-working-process-and-teamwork-flat-style-illustration-vector.jpg">
                <img src="https://static.vecteezy.com/system/resources/previews/002/346/322/large_2x/online-programming-course-flat-concept-illustration-vector.jpg">
                <img src="https://www.shutterstock.com/shutterstock/photos/586367912/display_1500/stock-vector-computer-code-debugging-concept-flat-style-illustration-586367912.jpg">
            </div> 
        </div>

        <div class="job-body">
            <div class="job-details">
                <% #description card %>
                <div class="job-description job-detail-card">
                    <div class="card-sub-title job-description-top">
                        <p><strong>Description:</strong></p>
                    </div>
                    <div class="card-body job-description-bottom">
                        <p><%= job[:Description] %></p>
                    </div>
                </div>

                <% #skills card %>
                <div class="job-requirement job-detail-card">
                    <div class="card-sub-title job-requirement-top">
                        <p><strong>Requirements:</strong></p>
                    </div>
                    <div class="card-body job-requirement-bottom">
                        <% requirement.each do |req| %>
                            <p><%= req %></p>
                        <% end %>
                    </div>
                </div>

                <% #specification card %>
                <div class="job-specification">



        <p><strong>Field:</strong> <%= job[:Field] %></p>
        <p><strong>Position:</strong> <%= job[:Postion] %></p>
        <p><strong>Seniority:</strong> <%= job[:Seniority] %></p>
        <p><strong>Employment Type:</strong> <%= job[:Employment_Type] %></p>
        <p><strong>Languages:</strong> <%= job[:Languages] %></p>
        
        <p><strong>Posted on:</strong> <%= @job.created_at %></p>
    </div>
    
    <div class="job-location">
        <p><strong>Country:</strong> <%= @job.country.name %></p>
        <p><strong>Location:</strong> <%= @job.location %></p>
        <p><strong>Longitude:</strong> <%= @job.longitude %></p>
        <p><strong>Latitude:</strong> <%= @job.latitude %></p>
    </div>

    <div class="job-requirements">
        <p><strong>Requirements:</strong> <%= @job.requirements %></p>
    </div>
</div>
