<h1 class="text-center">My Applications</h1>

<% @job_applications.each do |app| %>
  <div class="card-product">
    <div class="card-product-infos d-flex">
      <div class="p-2 flex-fill">
        <h3><%= app.job.job_title %></h3>

      </div>
      <div class="p-2 flex-fill">
        <p>📍 Location: <%= app.job.location %></p>
      </div>

      <div class="p-2 flex-fill">
        <p>
          Application Status:
          <span class="badge
            <%= case app.status.downcase
                when "pending" then "text-bg-warning"
                when "approved" then "text-bg-success"
                when "rejected" then "text-bg-danger"
                when "in progress" then "text-bg-info"
                else "text-bg-secondary"
                end %>">
            <%= app.status %>
          </span>
        </p>
      </div>
       <div class="p-2 flex-fill">
       <p>Date Applied: <%= app.created_at.strftime("%A, %d %b %Y %l:%M %p") %></p>
      </div>
      <div class="p-2 flex-fill text-center">
        <%= link_to "View Job", job_path(app.job), class: "card-link btn btn-warning btn-sm" %>
      </div>
    </div>
  </div>
<% end %>
