<h1><%= @country.name %></h1>
<p>Capital: <%= @country.capital %></p>
<p>Population: <%= @country.population %></p>
<p>Region: <%= @country.region %></p>

<%= link_to 'Back to list', countries_path %>
