<div class="container my-5">
  <div class="card shadow-lg border-0">
    <div class="card-body">


      <h1 class="card-title text-center mb-4"><%= @country.name %></h1>

      <% if @country.image_url.present? %>
        <div class="text-center mb-4">
          <img src="<%= @country.image_url %>" alt="<%= @country.name %>" class="img-fluid rounded shadow-sm" style="max-height: 300px;">
        </div>
      <% end %>

      <h4 class="mb-3 text-primary">About the country</h4>
      <p class="mb-4"><%= @country.information["About"] %></p>

      <div class="d-flex justify-content-between">
        <%= link_to "Back to All Countries", countries_path, class: "btn btn-outline-secondary" %>
        <%= link_to "Jobs", country_jobs_path(@country), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
