<h1><%= @country.name %></h1>

<% if @country.image_url.present? %>
  <img src="<%= @country.image_url %>" alt="<%= @country.name %>" style="max-width: 100%; height: auto;">
<% end %>

<section>
  <h2>About</h2>
  <p><%= @country.information["About"] %></p>
</section>

<section>
  <h2>Culture</h2>
  <p><%= @country.information["Culture"] %></p>
</section>

<section>
  <h2>Cities</h2>
  <ul>
    <% @country.information["Cities"].each do |city| %>
      <li><%= city %></li>
    <% end %>
  </ul>
</section>

<section>
  <h2>Jobs</h2>
  <ul>
    <% @country.information["Jobs"].each do |job| %>
      <li><%= job %></li>
    <% end %>
  </ul>
</section>

<section>
  <h2>Location</h2>
  <p>Latitude: <%= @country.latitude %></p>
  <p>Longitude: <%= @country.longitude %></p>
</section>
